
body {
	background-image:url("hip-square.png");
    background-repeat: repeat;

}



.container {
    max-width: 1000px;
}
.header {
    margin-top: 6rem;
    text-align: center;
}

#game {
	width: 100%;
	height: 100%;
}
#game_container {

}

#chat {
	overflow-y: scroll;
	height: 400px;
	background-color: #ffffff;
}

#chat_input {
	width: 100%;
}