

.container {
    max-width: 800px;
    background-image:url("hip-square.png");
    background-repeat: repeat;

}
.header {
    margin-top: 6rem;
    text-align: center;
}

#game {
	width: 100%;
	height: 100%;
}
#game_container {

}
